header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  height: 100px;
  background: transparent;
  max-width: 1280px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 0 2.5%;

  picture img {
    border: 1px solid red;
    width: 100px;
    height: auto;
    object-fit: contain;
  }

  nav {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;

    ol {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: max-content;
      border: 1px solid red;
      height: 100%;

      li a {
        border: 1px solid red;
        padding: 10px;
      }
    }
  }

  aside {
    a {
      border: 1px solid red;
      padding: 10px 10px;
      border-radius: 10px;
    }
  }
}

/* Adicione responsividade e detalhes conforme necessário */
